@media screen and (max-width: 760px){
    header{
        flex-direction: column;
    }
    #title{
        padding-left: 10px;
        margin-top: 5px;
        margin-right: 8px;
    }
    li{
        padding-left: 1px;
        padding-right: 1px;
    }
    /* main */
    .main{
        min-height: 50vh;
    }
    .container{
        width: 380px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 15px;
        padding: 10px;
    }
    .container .card .imgBx{
        height: 155px;
    }
    .container .card .content{
        padding: 5px; 
    }
    .container .card .content .productName{
        font-size: 8px;
    }
    .container .card .content .price_rating h2{
        font-size: 13px;
    }
    .container .card .content .price_rating .fa-solid{
        color: #7303c0;
        cursor: pointer;
        font-size: 10px;
    }
    /* footer */
    .pe-grande{
        padding-top: 5px;
        font-size: 10px;
    }
    ul .novo{
        padding-top: 5px;
        margin: 0px 5px 5px 5px;
        padding-left: 50px;
        font-size: 25px;
    } 
}
@media screen and (max-width: 390px){
    header{
        flex-direction: column;
    }
    #title{
        padding-left: 10px;
        margin-top: 5px;
        margin-right: 8px;
    }
    li{
        padding-left: 1px;
        padding-right: 1px;

    }
    /* main */
    .main{
        min-height: 50vh;
    }
    .container{
        width: 380px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 15px;
        padding: 10px;
    }
    .container .card .imgBx{
        height: 155px;
    }
    .container .card .content{
        padding: 5px; 
    }
    .container .card .content .productName{
        font-size: 8px;
    }
    .container .card .content .price_rating h2{
        font-size: 13px;
    }
    .container .card .content .price_rating .fa-solid{
        color: #7303c0;
        cursor: pointer;
        font-size: 10px;
    }
    /* footer */
    .pe-grande{
        padding-top: 5px;
        font-size: 10px;
    }
    ul .novo{
        padding-top: 5px;
        margin: 0px 5px 5px 5px;
        padding-left: 50px;
        font-size: 25px;
    } 
}
@media screen and (max-width: 375px){
    header{
        flex-direction: column;
    }
    #title{
        padding-left: 10px;
        margin-top: 5px;
        margin-right: 8px;
    }
    li{
        padding-left: 1px;
        padding-right: 1px;
        font-size: 15px;
        
    }
    /* main */
    .main{
        min-height: 50vh;
    }
    .container{
        width: 380px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 15px;
        padding: 10px;
    }
    .container .card .imgBx{
        height: 155px;
    }
    .container .card .content{
        padding: 5px; 
    }
    .container .card .content .productName{
        font-size: 8px;
    }
    .container .card .content .price_rating h2{
        font-size: 13px;
    }
    .container .card .content .price_rating .fa-solid{
        color: #7303c0;
        cursor: pointer;
        font-size: 10px;
    }
    /* footer */
    .pe-grande{
        padding-top: 5px;
        font-size: 10px;
    }
    ul .novo{
        padding-top: 5px;
        margin: 0px 5px 5px 5px;
        padding-left: 50px;
        font-size: 25px;
    } 
}
@media screen and (max-width: 360px){
    header{
        flex-direction: column;
    }
    #title{
        padding-left: 10px;
        margin-top: 5px;
        margin-right: 8px;
    }
    li{
        padding-left: 1px;
        padding-right: 1px;
        font-size: 13px;
        
    }
    /* main */
    .container{
        width: 340px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 15px;
        padding: 10px;
    }
    .container .card .imgBx{
        height: 155px;
    }
    .container .card .content{
        padding: 5px; 
    }
    .container .card .content .productName{
        font-size: 8px;
    }
    .container .card .content .price_rating h2{
        font-size: 13px;
    }
    .container .card .content .price_rating .fa-solid{
        color: #7303c0;
        cursor: pointer;
        font-size: 10px;
    }
    /* footer */
    .pe-grande{
        padding-top: 5px;
        font-size: 10px;
    }
    ul .novo{
        padding-top: 5px;
        margin: 0px 5px 5px 5px;
        padding-left: 50px;
        font-size: 25px;
    } 
}