@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #fff;
    color: #fff;
    max-width: 1600px;
    margin: 0 auto;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #2980B9, #6DD5FA, #2980B9);
}
#title{
    flex-direction: column;
    line-height: 30px;
    padding-left: 50px;
    font-size: 13px;
}
li{
    display: inline-block;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    padding-left: 15px;
    margin-right: 30px;
}
a{
    color: #fff;
}
.rica{
    color: rgb(41, 40, 40);
}
.pixel{
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
    margin-right: 1px;
}
/* Começo do cartão */
.teste{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.cartao{
    position: relative;
    width: 1200px;
    height: 600px;
    margin-top: 50px;
    background: #fff;
    color: #000;
    box-shadow: 0 15px 45px 15px rgba(0,0,0,0.2);
    display: flex;    
}
.cartao .imgBx{
    position: relative;
    min-width: 480px;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.cartao .imgBx img{
    max-width: 450px;
}
.cartao .detalhes{
    position: relative;
    width: 720px;
    height: 100%;
    background: #fff;
    padding: 20px 35px 0px 20px;
}
.titulo{
    width: 401px;
    height: 32px;
}
.titulo h2{
    font-size: 30px;
}

.sub-titulo h3{
    font-size: 20px;
}
.avaliacoes{
    position: relative;
    display: flex;
    margin-top: 10px;
}
.estrelas{
    padding: 0px 5px;
    font-size: 16px;
    font-weight: 300;
    color: #7303c0;
}
.estrelas .fa-solid.grey{
    color: #ccc;
}
.avaliacao{
    padding: 0px 15px;
    font-size: 16px;
    font-weight: 300;
}
.vendidos{
    padding: 0px 15px;
    font-size: 16px;
    font-weight: 300;
}
.preco{
    padding: 15px 20px;
    font-size: 35px;
    color: red;
    font-weight: 600;
    background: #fafafa;
    box-shadow: 0 15px 45px 15px rgba(0,0,0,0.1);
    margin-top: 20px;
}
.contador{
    position: relative;
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.quantidade{
    padding: 0px 5px; 
}
.container{
    position: relative;
    width: 70px;
    height: 31.5px;
    border: 2px solid #000;
    border-radius: 5px;
    margin-left: 15px;
}
.container .adicao{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10.5px;
    display: block;
    font-size: 1.05em;
    cursor: pointer;
    z-index: 100;
}
.container .subtracao{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10.5px;
    display: block;
    font-size: 1.05em;
    cursor: pointer;
    z-index: 100;
}
#box span{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    font-size: 1.12em;
    font-weight: 700;
    display: none;
}
#box span:nth-child(1){
    display: initial;
}
.disponivel{
    padding: 0px 15px;
    font-size: 11px;
}
.comprar{
    padding: 0px 5px;
    margin-top: 30px;
    background: linear-gradient(90deg, #0576e6, #021B79);
    width: 380px;
    height: 80px;
    display: flex;
    border-radius: 20px;
    justify-content:center;
    align-items: center;
}
.comprei{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
.carro{
    padding: 0px 5px;
    margin-top: 30px;
    background: linear-gradient(90deg, #0575E6, #021B79);
    width: 380px;
    height: 80px;
    display: flex;
    border-radius: 20px;
    justify-content:center;
    align-items: center;
}
.carrinho{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
/* Card 2*/
.teste-2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.cartao-2{
    width: 1200px;
    height: 300px;
    background: #fff;
    color: #000;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 15px 45px 15px rgba(0,0,0,0.2);
    padding: 30px 45px 0px 30px;   
}
.descricao h3{
    font-size: 30px;
    font-weight: 300;
}
.medidas h3{
    margin-left: 1px;
    font-size: 20px;
    font-weight: 300;
}
.construcao h3{
    margin-left: 1px;
    font-size: 20px;
    font-weight: 300;
}
.construcao-2 h3{
    margin-left: 1px;
    font-size: 20px;
    font-weight: 300;
}
/* Carousel */
.carrosel{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.carrosel-2{
    width: 1200px;
    height: 400px;
    background: #fff;
    color: #000;
    margin-bottom: 50px;
    box-shadow: 0 15px 45px 15px rgba(0,0,0,0.2);
    padding: 30px 45px 0px 30px;   
}
.box-categoria{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center; 
}
.ideias h3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #000000;
    background: #fff;
    padding: 2px;
}
/* começo do footer */
.pe-grande{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 100px;
}
ul .novo{
    list-style: none;
    margin: 0px 5px 10px 5px;
    padding-left: 85px;
    font-size: 35px;
}