@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #fff;
    color: #fff;
    max-width: 1600px;
    margin: 0 auto;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #2980B9, #6DD5FA, #2980B9);
}
#title{
    flex-direction: column;
    line-height: 30px;
    padding-left: 50px;
    font-size: 13px;
}
li{
    display: inline-block;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    padding-left: 15px;
    margin-right: 30px;
}
a{
    color: #fff;
}
.rica{
    color: rgb(41, 40, 40);
}
.pixel{
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
    margin-right: 1px;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tamanho2{
    height: 150px;
    width: 100%;
}
/* começo do main */
main{
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background: #fff;
}
.container{
    position: relative;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}
.container .card{
    width: 100%;
    background: #dadada;
}
.container .card .imgBx{
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
}
.container .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
    transform-origin: right;
}
.container .card:hover .imgBx img{
    transform: scale(1.1);
}
.container .card .content{
    padding: 10px; 
}
.container .card .content .productName{
    font-size: 13px;
    font-weight: 500;
    color: #333;
    margin: 5px 0;
}
.container .card .content .price_rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .card .content .price_rating h2{
    font-size: 20px;
    color: #ff2020;
    font-weight: 500;
}
.container .card .content .price_rating .fa-solid{
    color: #7303c0;
    cursor: pointer;
}
.container .card .content .price_rating .fa-solid.grey{
    color: #ccc;
}
.cardBotao{
    text-decoration: none;
}
.container .card.some{
    width: 100%;
    background: #ffffff;
}
.tamanho2{
    height: 150px;
    width: 100%;
}
/* começo do footer */
.pe-grande{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 100px;
}
ul .novo{
    list-style: none;
    margin: 0px 5px 10px 5px;
    padding-left: 85px;
    font-size: 35px;
}